<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="rc rc_margintop">
  <p>
    Чтобы правильно выбрать размер, предлагаем воспользоваться нашими подсказками:
  </p>
  <b><ul class="list">
    <li><a href="#razmer-odezdy">Таблицы размеров одежды</a></li><br>
    <li><a href="#razmer-rukavitc">Таблица размеров рукавиц, перчаток</a></li><br>
    <li><a href="#razmer-golovhyh-uborov">Таблица размеров головных уборов</a></li><br>
    <li><a href="#razmer-obuv">Таблица размеров обуви</a></li>
  </ul></b>
  <h3 id="razmer-odezdy">
    Как определить размер одежды?
  </h3>
  <p style="text-align: center;">
    <img alt="Таблица размеров мужской одежды" src="/upload/medialibrary/642/642d0d8fe90ec4b4afc216915fba5b15.jpg" title="Таблица размеров для подбора мужской одежды" style="max-width:100%;"><br>
  </p>
  <p style="text-align: center;">
    <img alt="Таблица размеров женской одежды" src="/upload/medialibrary/4ec/4ecd35907fbc8cccda2a76da37cb2553.jpg" title="Таблица размеров для подбора женской одежды" style="max-width:100%;"><br>
  </p>
  <p style="text-align: center;">
    <img alt="Таблица размеров детской одежды" src="/upload/medialibrary/b39/b39dea3641866161cf820fd552790269.jpg" title="Таблица размеров для подбора детской одежды" style="max-width:100%;"><br>
  </p>
  <p>
    <b>Для определения размера одежды нужно измерить:</b>
  </p>
  <ul class="list">
    <li>Обхват груди – максимальный горизонтальный обхват, измеренный при нормальном дыхании. Измерительная лента должна проходить по лопаткам, подмышками и самым выступающим точкам груди.</li>
    <li>Обхват талии – обхват естественной линии талии между подвздошными костями и нижними ребрами, при нормальном дыхании, выпрямившись и с расслабленным животом.</li>
    <li>Обхват бедер – горизонтальный обхват, измеренный по наиболее выступающим точкам ягодиц.</li>
    <li>Рост</li>
  </ul>
  <p>
    Измерения проводят в нижнем белье, измерительная лента должна быть в горизонтальном положении и прилегать к телу без провисания и при этом не деформировать натяжением мягкие ткани. Полученные результаты измерений нужно соотнести с таблицей размеров. Если значения выходят за пределы установленных в таблице интервалов и попадают в разные размеры, то нужно ориентироваться на больший размер.
  </p>
  <h3 id="razmer-rukavitc">
    Как определить размер рукавиц, перчаток?
  </h3>
  <p>
    Обхват ладони будет соответствовать вашему размеру. Для этого нужно измерить ладонь выше «косточек», не захватывая большой палец. К полученному результату измерений рекомендуется добавить 1 см.
  </p>
  <p style="text-align: center;">
    <img alt="Таблица размеров рукавицы и перчатки" src="/upload/medialibrary/b47/b471adab709c5afa9634fe9defd439fc.jpg" title="Таблица размеров для подбора рукавиц и перчаток" style="max-width:100%;"><br>
  </p>
  <h3 id="razmer-golovhyh-uborov">
    Как определить мой размер головного убора?
  </h3>
  <p>
    Для того, чтобы узнать размер головного убора, необходимо измерить обхват головы. Для этого измерительную ленту нужны прикладывать чуть выше уровня бровей. К полученному результату измерений рекомендуется добавить 1 см.
  </p>
  <p style="text-align: center;">
    <img alt="Таблица размеров головных уборов" src="/upload/medialibrary/6ad/6ad13e84f85a2bea66c5b448a18c4e15.jpg" title="Таблица размеров для подбора головных уборов" style="max-width:100%;"><br>
  </p>
  <h3 id="razmer-obuv">
    Как определить мой размер обуви? Как выбрать носки своего размера?
  </h3>
  <p style="text-align: center;">
    <img alt="Таблица размеров обуви" src="/upload/medialibrary/cbf/cbfa4570f496f0b5b8dc8d8d26fdadda.jpg" title="Таблица размеров для подбора обуви" style="max-width:100%;"><br>
  </p></div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>