<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Зарегистрироваться</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Форма регистрации</h2>
            <p class="lead">Введите свои параметры, и мы рассчитаем Ваш размер одежды</p>
        </div>
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Ваши данные</h4>
                <form action="/user/register" method="post" class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" name="username" class="form-control" id="username" placeholder="Username" required="">
                                <div class="invalid-feedback">
                                    Your username is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="height" class="form-label">Ваш рост</label>
                            <input type="text" name="height" class="form-control" id="height" placeholder="" required="">
                        </div>

                        <div class="col-12">
                            <label for="chest" class="form-label">Обхват груди</label>
                            <input type="text" name="chest" class="form-control" id="chest" placeholder="">
                        </div>

                        <div class="col-12">
                            <label for="waist" class="form-label">Обхват талии</label>
                            <input type="text" name="waist" class="form-control" id="waist" placeholder="">
                        </div>

                        <div class="col-12">
                            <label for="hips" class="form-label">Обхват бёдер</label>
                            <input type="text" name="hips" class="form-control" id="hips" placeholder="">
                        </div>

                        <div class="col-12">
                            <label for="footLength" class="form-label">Длина стопы</label>
                            <input type="text" name="footLength" class="form-control" id="footLength" placeholder="">
                        </div>

                        <div class="col-md-5">
                            <label for="gender" class="form-label">Ваш пол</label>
                            <select name="gender" class="form-select" id="gender" required="">
                                <option value="">Выберите...</option>
                                <option value="WOMAN">женский</option>
                                <option value="MAN">мужской</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </main>
</div>
<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>