<div th:fragment="header">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="../../logo.png" height="30">
        </a>

        <ul class="nav nav-pills nav-fill">
<!--            <li class="nav-item"><a href="/" class="nav-link">Расчет размера</a></li>-->
            <li class="nav-item"><a href="/measures" class="nav-link">Как снять мерки?</a></li>
            <li class="nav-item"><a href="/tables" class="nav-link">Таблицы размеров</a></li>
            <li class="nav-item"><a href="/user/login" class="nav-link">Вход</a></li>
            <li class="nav-item"><a href="/user/register" class="nav-link">Регистрация</a></li>
        </ul>
    </header>
</div>